<section data-ng-controller="PropertiesController as vm" data-ng-init="vm.findOne()">
  <h1 data-ng-bind="vm.property.name"></h1>
  <div data-ng-show="vm.authentication.user._id === vm.property.creator._id">
    <a href="/#!/properties/{{vm.property._id}}/edit">edit</a>
    <a href="#" data-ng-click="vm.delete();">delete</a>
  </div>
  <div>
    <label><span data-ng-bind="vm.property.address.line1"></span></label>
  </div>
  <div>
    <label><span data-ng-bind="vm.property.address.line2"></span></label>
  </div>
  <div>
    <label><span data-ng-bind="vm.property.address.city"></span></label>
  </div>
  <div>
    <label><span data-ng-bind="vm.property.address.zip"></span></label>
  </div>
  <small>
    <em>Added on</em>
    <em data-ng-bind="vm.property.created | date: 'mediumDate'"></em>
    <em>by</em>
    <em data-ng-bind="vm.property.creator.fullName"></em>
  </small>
</section>